.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  align-self: end;
}

@media (max-width: 1130px) {
	.place__title {
		font-size: 57px;
    line-height: 108%;
	}
}

@media (max-width: 768px) {
  .place__title {
		font-size: 42px;
    line-height: 106%;
	}
}

@media (max-width: 542px) {
  .place__title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 16px;
    font-size: 32px;
    line-height: 109%;
  }
}
