.cover__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  z-index: 1;
}
