.header {
  margin: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {
	.header {
		margin: 28px 24px 0 24px;
	}
}

@media (max-width: 512px) {
	.header {
    margin: 28px 16px 0 16px;
  }
}

