.place__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 24px;
  margin: 0;
}

.place__text:last-child {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 163%;
  }
}
