* {
  outline: 1px solid red;
  box-sizing: border-box;
}

body {
  background: #2A2C2F;
  color: #fff;
}

.root {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}


.header {
  min-height: 52px;
  margin: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
	.header {
		margin: 28px 24px 0 24px;
	}
}

@media (max-width: 512px) {
	.header {
		margin: 28px 16px 0 16px;
  }
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  font-size: 24px;
  line-height: 117%;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  color: #fff;
  text-decoration: none;
  padding-left: 18px;
}

.header__lang-link:hover {
  text-decoration-line: underline;
}

.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 56px auto 0 auto;
}

.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin: 32px auto 0 auto;
}

.lead__image {
  width: 77%;
  margin: 64px auto 0 auto;
}

@media (max-width: 1024px) {
	.lead__image {
    width: 90%;
		margin: 56px auto 0 auto;
	}
}

@media (max-width: 768px) {
	.lead__image {
		width: 100%;
		margin: 56px auto 0 auto;
	}
}

@media (max-width: 512px) {
	.lead__image {
		width: 100%;
    margin: 40px auto 0 auto;
  }
}

.lead__main-illustration {
  width: 100%;
  height: auto;
}

.lead__caption {
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 8px;
}

.intro {
  max-width: 690px;
  margin-left: 148px;
  margin-top: 114px;
}

@media (max-width: 1024px) {
	.intro {
    margin: 114px 48px 0 48px;
	}
}

@media (max-width: 768px) {
	.intro {
		margin: 110px 24px 0 24px;
	}
}

@media (max-width: 512px) {
	.intro {
    margin: 86px 16px 0 16px;
  }
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

.intro__text {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  list-style-type: none;
  padding-left: 0;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  margin: 98px 48px 0 48px;
  list-style-type: none;
  padding: 0;
}

.photo-grid__item {
  width: 100%;
  height: auto;
}

@media (max-width: 685px){
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
  margin: 20px 0px;
  list-style-type: none;
}

.photo-grid__item {
  width: 100%;
  height: auto;
}
}

.place {
  display: grid;
  grid-template-columns: 46% 54%;
  grid-template-rows: 2;
  margin: 80px 148px 0 148px;
}


.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.place__website {
  grid-column: 2/3;
  grid-row: 1/2;
}

.place__image-options {
  grid-column: 1/2;
  grid-row: 2/3;
}

.place__paragraph {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 40px;
}

.place__image-options {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
	.place {
		margin: 80px 48px 0 48px;
	}
}

@media (max-width: 768px) {
	.place {
		margin: 70px 24px 0 24px;
	}
}

@media (max-width: 512px) {
	.place {
    margin: 48px 3px 0 3px;
  }

  .place__website {
    display: none;
  }
  .place__title {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .place__image-options {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .place__paragraph {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0 16px;
  }
}

.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
}

.place__image {
	flex: 46%;
}

.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 0 12px 0;
}

.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
}

.place__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 24px;
  margin: 0;
}

.place__text:last-child {
  padding-bottom: 0;
}

.place__website {
  list-style-type: none;
  padding: 0;
  align-self: end;
  margin-left: 40px;
}

.place__image-options {
  max-width: 100%;
  height: auto;
}

.cover {
  margin: 92px 48px 0 48px;
}

.cover__background {
  position: relative;
  text-align: center;
  color: white;
}

.cover__background-img {
  width: 100%;
  background: #2A2C2F;
  opacity: 0.5;
}

.cover__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  color: #FFFFFF;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

.cover__subtitle {
  font-weight: normal;
font-size: 18px;
line-height: 122%;
}
