/* * {
  outline: 1px solid red;
} */

body {
  background: #2A2C2F;
  color: #fff;
}

.root {
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
