.place {
  display: grid;
  grid-template-columns: 46% 54%;
  margin: 92px 148px 0 148px;
}

@media (max-width: 1024px) {
	.place {
		margin: 80px 48px 0 48px;
	}
}

@media (max-width: 768px) {
	.place {
		margin: 70px 24px 0 24px;
  }
}

@media (max-width: 542px) {
	.place {
    margin: 48px 0 0 0;
  }
}
